.logs-search {
    margin-left: 7.5%;
    max-width: 85%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.logs-card {
    margin-left: 7.5%;
    max-width: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
}